.card-style{
    height:auto;
    border:none;
    background:linear-gradient(45deg,#437c25,#78ffd6);
}
.card-image{
    height:210px;
  
}
.vehicle-name{
    font-size:35px;
    font-weight:700;
    color:white;
}
